/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Fin =============================================================================================================*/

/* Styling  Navigation Bar */

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    position: fixed;
    width: 100%;
    /*height: 70px; */
}

/* Contact infos */

.profile_name {
  /* float: left; */
  padding-left: 1cm;
  padding-right: 1cm;
  margin-right: 1cm;
  color: white;
  font-size: 25px;

}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  color:lightgrey
  /* flex-direction: row; */
}

.profile_name .contact_info a{
  
  color:lightgrey
  
}


.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left; 
}

/* Contact infos Fin =========================================================================================================== */

/* Navigation links start */
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;

}

nav ul li{
    list-style-type:none;
}

nav ul li a{
    color: #fff !important;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

.menu-icon{
    display: none;
}

.menu-icon:hover{
    cursor: pointer;
}

/* Navigation links start Fin================================================================================ */

/* Mobile view start */


@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }

   .profile_name{
    display: none;
   } 

   #navlinks_toggle{
    display: flex;
    flex-direction: column;  
    gap: 0;
   }
}


/* Mobile view start Fin ==================================================================================== */


/* Navigation Bar */

#home {
  background-color:  #4d8eeb;
  margin-left:0cm;
  margin-right:0cm;
  margin-top:-1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
 }
 

/* .topdiv {
  float: right;
  padding-right: 1cm;

  background-color: red;
} */





/* Titles */

h2{
  text-align: justify;
  font-size: 40px;
  text-align: center; 
  float: left;
  color: #4d8eeb;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}

h2 span{
color: lightblue;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;

  animation-duration: 5s;
  position: relative;


}

/* This will help me to include the media query to make the navigation button
 fixed and leave it move at small screens */

/* .wraping{
  position:fixed;
  width: 100%;
} */

/* Used in the About Me sections */

.container-fluid {
  display: flex;

}

/* About Me */

#about-me {
  display: flex;
  align-items: center;
  padding-top: 100px;

}


#about-me a {
color: #4d8eeb;
text-decoration: none;
}


#about-me a:hover {
  color: lightblue;
  text-decoration: underline;
  }


#about-me h1 {
  font-size: 45px;
  margin-top: 40px;
  color: #4d8eeb;
}

#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1cm;
}


.profile_image {
  width: 371px;
  height: fit-content;
  vertical-align: middle;
  margin: 5px;
  border-radius: 100%;
  
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 25px 50px 35px 50px;
  padding: 8px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

#skills a{
margin-left: 35px;

}

.skill img {
  height: 55px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;/*to learn its use later */
  margin-block-end: 5px;/*to learn its use later */
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
  
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 85%;
  /* margin-left: 5cm; */
}

.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
  
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  align-items: center;
  margin-left: 1in;
  flex-direction: row;
  flex-flow: wrap;
  /* flex-direction: column; */
  padding: 20px;
}

.recommendation {
  font-style: italic;
  font-weight: normal;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  border:1px solid gray;
  font-size: 18px;
  height: 150px;
  box-sizing:border-box;
  overflow: scroll;
}

.recommendation span {
  color: #4d8eeb;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
/* Certifications */
.certification h3 {
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 5px;
}

.certification img {
  height: 35px;
  align-items: center;
}

.certification h3 span {
  font-weight: normal;
  color: gray ;
}

.certifications-container a {
  margin-left:25px;
}
/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 100%;
  background-color: #4d8eeb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  padding: 30px; 
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid #4d8eeb;
  color: #4d8eeb;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid #4d8eeb;
  color: #4d8eeb;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin: 10px;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid #4d8eeb;
  color: #4d8eeb;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: #4d8eeb;
  border: 1px solid #4d8eeb;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.other_skills{
  display: none;
}
/* 
.other_skills {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.other_skills.show {
  opacity: 1;
  max-height: 500px;
  margin-top: 10px;
} */

/* styling the github skills button */
/* .git_skills_btn{
  margin-top: -10cm;
}
  */